
body{
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size:1em;
}
 #tvShowButtons{
    width:100%;
    padding: 10px 0px;
    margin-bottom:10px;
}


    .dynamicButtons {
      margin: 5px;
    }


    label{
        font-size:1em;
        font-weight:bold;
        margin-bottom:0;
        padding-bottom:2px;
    }

    form{
        margin-bottom:10px;
    }

    #addTvShow{
        margin-top:-7px;
    }

    .gif{
        padding-left:0;
    }


    @media (min-width: 1px) and (max-width: 767px){
        .gif, .gifContainer p{
            padding-left:15px;
        }
        
    }
    @media (min-width:768px) and (max-width: 991px){
        
    }
    @media (min-width:992px) and (max-width: 9999px){
       
    }
